*
!.gitignore
!mts_plots.py
!TensileDIC_Level1.py
!TensileDIC_Level2.py
!TensileDIC_Level3.py
!FlexuralDIC_Level1.py
!FlexuralDIC_Level2.py
!FlexuralDIC_Level3.py
!Bearing_Level3.py
!matlab/
!matlab/flexural_walkthrough.m
!dic_heatmap_animation.py
!dic_tiff_overlay.py

